<!DOCTYPE html>
<html lang="eng" dir="ltr"> 
  <head>
   <meta charset="utf-8">
   <title>ManjiriChandure_personalsite</title>
   <link rel="Stylesheet" href="./static/CSSStyles.css">
    <link rel="icon" href="./static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<link href="https://fonts.googleapis.com/css2?family=DynaPuff&family=Gloria+Hallelujah&display=swap" rel="stylesheet">
  </head>
  <body>

   <div class="top-container">
     <img class ="Fcloud" src="./static/orangecloud.png" alt="cloud">
     <img class="Pcloud" src=". /static/pinkcloud.png" alt ="pinkcloud">
      <h1>I'm MANJIRI</h1>
      <p class="startp"> Web designer!</p>
      <img class="Scloud" src="./static/orangecloud.png" alt="cloud">
      <img class="Tcloud" src="./static/whitecloud.png" alt="cloud"> 
      <img class="FRcloud" src="./static/whitecloud.png" alt="cloud"> 

   </div>
   <div class="middle-container">
      <img class="myprofile" src="./static/Meet - Google Chrome 6_1_2021 7_53_10 PM-modified.png" alt="my profile">
       <h2>Hello!</h2>
       <p>I am computer science and Engineering Student and Web developer and currently studying in Walchand College, Sangli. </p>
       <p>I love to create frontend of website, with it like dancing and painting.</p>
       <br>
       <hr>

   </div>
   <div id = "middle-middle-container">
      <h2 id="myid">My Skills!</h2>
      <img class="dollphoto" src="./images/Lovepik_com-401511514-beautiful-girl-reading-a-book.png" alt="dollskills">
      <p id="mp1">I am one girl who like study and dance both, with wodering and gossiping with friends</p>
      <p id="mp2">Like to spend the time with family and reading story book 🥰</p>
      <p id="mp3"> 😉 you can see me always busy in painting my nails!!! 💅</p>
   </div>
   <hr>
   <div class="bottom-container">
        <p id="pb">I am preety sure 😙, <br>If you are in contact <br >with me,you will <br>pro web-designer like me 😅 </p>
        <h2 id="hb">Get in touch!</h2>
        <img  class = "me" src="./images/—Pngtree—computer working girl_6700679.png" alt="me">
        <br>
        <a href="contact.html">
          <button type="button" class="button">CONTACT ME</button>
        </a>
        
        <table>
            <h4 class="bc">Free time 😉</h4>
            <tr id="bc1">
              <td >😙</td>
              <td >10am to 12.30pm</td>
            </tr>
            <tr id="bc2">
              <td>😙</td>
              <td>5.30pm to 7pm</td>
            </tr>
        </table>
        <hr id="lasthr">
   </div>
    <div id="lastclass">
      <a id="linkedin"   href="https://in.linkedin.com/in/manjiri-chandure-51563a218">LinkedIn</a>
       <p id="copyright">© Manjiri Chandure @Walchand,Sangli</p>
    </div>
  <!-- <div class="middle-container">
   </div>
   <div class="bottom-container">
   </div>
   -->
    
  </body>
 
</html>